html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: #e5e5f7;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #483D8B	 55px ), repeating-linear-gradient( #FFFAFA, #FF00FF );
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;

}

.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 28px;
    box-shadow: 0 4px 35px #000000;
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: #696969;
    border: 3px solid #fff;
    flex-basis: 400px;
    height: 560px;
    padding: 25px 40px;

}

.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 3px solid #000000;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1) ;
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 330px;

}

.calc-nappirivi{
    display: flex;
    justify-content: space-between;
    margin: 6% 0;   
}

.calc-nappi{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5,5px);
    background: rgba(255, 255, 255, 0,75);
    border: 3px solid #000000;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 26px;
    height: 65px; 
}

.calc-nappi:last-child{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5,5px);
    background: rgba(255, 255, 255, 0,75);
    border: 3px solid #000000;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #ffff;
    background: #800000;
}

.calc-nappi:last-child:hover{
    background-color: inherit;
    color: inherit;   
}

.calc-nappi:last-child:active{
background: #fff;
}

.calc-nappi:hover{
    background-color: inherit;
}

.calc-nappi:active{
    background-color: #800000;
}

.double{
    flex-basis: 47%;
}

.triple{
    flex-basis: 47%;
}

.calc-nappi-sqrt{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5,5px);
    background: rgba(255, 255, 255, 0,75);
    border: 3px solid #000000;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #ffff;
    background: #800000;
    flex-basis: 20%;
}

.calc-nappi-sqrt:hover{
    background-color: inherit;
}
